img{
    width: 125px;
}

.logo{
    border-bottom: 0px solid black !important;
}

.row{
    margin-top: 2%;
    border-bottom: 1px solid #eae4e4;
}

i{
   margin-left: 1%;
}

.error{
    border: 1px solid red !important;
}