<html>
    <head>

        <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="statics/css/normalize.css">
        <link rel="stylesheet" href="statics/css/skeleton.css">
        <link rel="stylesheet" href="statics/css/custom.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
    <body>

      <!-- INICIO DEL MEMBRETE -->

        <div>
            <div class="head"> 
                <img src="statics/images/robot_1.png">
                <h1>Campeonato de Robótica y Hackathon 2017</h1>
            </div>
        </div>
        <div>
            <h2>Formulario de Inscripción</h2>
        </div>
      
      
      <!-- FIN DEL MEMBRETE -->

        <div>
            <div class="div_form">
                    <form>
                        <div class="group">
                            <h3>Datos del Robot</h3>
                            <div class="six columns">
                                <label for="robot_nombre">Nombre</label>
                                <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="robot_nombre">
                            </div>
                            <div class="six columns">
                                <label for="robot_peso">Peso (kg.)</label>
                                <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="robot_peso">
                            </div>
                            <div class="six columns">
                                <label for="exampleRecipientInput">Categoria</label>
                                <select class="u-full-width" id="exampleRecipientInput">
                                    <option value="Option 1">Seguidor de Línea</option>
                                    <option value="Option 2">Sumo</option>
                                    <option value="Option 3">Mini-Sumo</option>
                                    <option value="Option 4">Futbol</option>
                                </select>
                            </div>
                        </div>
                    </form>
            </div>

            <div class="participantes">
                <h3>Participantes</h3>
                <table>
                    <thead>
                        <tr>
                        <th>Rol</th>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>DNI</th>
                        <th>E-mail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>Profesor/Responsable</td>
                        <td>Dave Gamache</td>
                        <td>26</td>
                        <td>Male</td>
                        <td>San Francisco</td>
                        </tr>
                        <tr>
                        <td>Alumno/Representante</td>
                        <td>42</td>
                        <td>Male</td>
                        <td>Hayward</td>
                        <td>San Francisco</td>
                        </tr>
                    </tbody>
                </table>

            </div>


        </div>     


    </body>
</html>