<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Campeonato de Robótica y Hackathon 2017</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="statics/css/normalize.css">
  <link rel="stylesheet" href="statics/css/skeleton.css">
  <link rel="stylesheet" href="statics/css/custom_index.css">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="statics/js/custom_index.js"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="../../dist/images/favicon.png">



</head>
<body style="">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section hero">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <h1 class="hero-heading"> Campeonato de Robótica y Hackathon 2017 </h1>
          <p>Evento abierto y gratuito para todo público, en especial se invita a alumnos y docentes de nivel secundario y universitario. </p>
          <h1 class="hero-heading"> 
            <div id="contador">

            </div>
            <!-- Primary Page Layout 
            <span id="dia">5</span>d
            <span id="hora">5</span>h
            <span id="min">2</span> m
            <span id="seg">30</span>s
            -->
          </h1>
          <!-- <a class="button button-primary" href="http://getskeleton.com">Try Skeleton</a> -->
          <a class="button button-primary" href=" https://chpatagonia.eventbrite.com.ar">Reserva tu lugar</a> 
          <a class="button button-primary" href="/registroRobots">Registra tu robot</a> 
        </div>
        <div class="one-half column phones">
          <!--
          <img class="phone" src="images/iphone.png">
          <img class="phone" src="images/iphone.png">
          -->
          <img class="phone" src="statics/images/robot_portada.png">
          
        </div>
      </div>
    </div>
  </div>

  <div class="section values">
    <div class="container">
      <h3 class="section-heading">Competencia</h3>
      <br>
      <div class="row">
        <div class="one-third column value">
          
          <h5 class="value-heading">Seguidores de Línea</h5>
          <p class="value-description">Percentage of users more likely to purchase on mobile friendly site.</p>
          <a class="button button-primary" href="http://.com">Reglamento!</a>
        </div>
        <div class="one-third column value">
          <h5 class="value-heading">Sumo y Mini-Sumo</h5>
          <p class="value-description">Most of the world accesses the internet on multiple devices.</p>
          <a class="button button-primary" href="http://.com">Reglamento!</a>
        </div>
        <div class="one-third column value">
          <h5 class="value-heading">Futbol</h5>
          <p class="value-description">Percentage of users that are frustrated with page load times.</p>
          <a class="button button-primary" href="http://.com">Reglamento!</a>
        </div>
      </div>
    </div>
  </div>

  <div class="section get-help">
    <div class="container">
      <h3 class="section-heading">¿Organización?</h3>
        <p class="section-description">
            puede ir el video que hizo nahuel o tambien el logo de las escuelas que participan
        </p>
    </div>
  </div>

  

  <div class="section categories">
    <div class="container">
      <h3 class="section-heading">¿Dónde se hace?</h3>
      <p class="section-description">Aqui va el mapa.</p>
      <!--
      <div class="row">
        <div class="one-half column category">
          <img class="u-max-full-width" src="images/placeholder.png">
        </div>
        <div class="one-half column category">
          <img class="u-max-full-width" src="images/placeholder.png">
        </div>
      </div>
      -->
    </div>
  </div>




<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>